<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<header th:insert="_blocks/header :: header"></header>

<main role="main">

    <div class="container">
<!--        <h2 align="center">Products</h2>-->
        <!--        TEST-->
        <form>
            <p th:text="#{homePage.sortByCategory.title}"><strong>Category</strong></p>
            <p><select name="category">
                <option value="all" th:text="#{homePage.sortByCategory.option.All}">All</option>
                <option value="1">Books</option>
                <option value="3">Gadgets</option>
                <option value="5">Furniture</option>
                <option value="4">Toys</option>
                <option value="2">Groceries</option>
            </select>
                <input type="submit" th:value="#{homePage.button.submit}"></p>
        </form>
        <!--        TEST-->
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a th:text="#{userHomePage.table.label.name}"></a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/user/?category={catId}&sortBy=nameAsc'(catId=${category})}" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/user/?category={catId}&sortBy=nameDesc'(catId=${category})}" role="button">↑</a>
                </th>
                <th th:text="#{homePage.table.label.quantity}">Quantity</th>
                <th>
                    <a th:text="#{homePage.table.label.price}"></a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/user/?category={catId}&sortBy=priceAsc'(catId=${category})}" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/user/?category={catId}&sortBy=priceDesc'(catId=${category})}" role="button">↑</a>
                </th>
                <th th:text="#{homePage.table.label.category}">Category</th>
                <th th:text="#{homePage.table.label.description}">Description</th>
                <th>
                    <a th:text="#{homePage.table.label.pubDate}"></a>
                    <a align="right" class="btn btn-dark btn-sm" th:href="@{'/user/?category={catId}&sortBy=pubDateAsc'(catId=${category})}" role="button">↓</a>
                    <a align="right" class="btn btn-dark btn-sm" th:href="@{'/user/?category={catId}&sortBy=pubDateDesc'(catId=${category})}" role="button">↑</a>
                </th>
                <th th:text="#{homePage.table.label.Action}">Action</th>


            </tr>

            </thead>

            <tbody>
            <tr th:each ="product : ${products}">
                <td th:utext="${product.name}" />
                <td th:utext="${product.quantity}" />
<!--                <td th:utext="${product.price}" />-->
                <td>
                    <p th:if="${#locale.getISO3Language() == 'eng'}" th:text="${product.price}"></p>
                    <p th:if="${#locale.getISO3Language() == 'rus'}" th:text="${product.price * 28}"></p>
                </td>
                <td th:utext="${product.category.getName()}" />
                <td th:utext="${product.description}" />
                <td th:utext="${product.publicationDate}" />
                <td>
<!--                    <a sec:authorize="!isAuthenticated()">-->
<!--                        <a class="btn btn-primary btn-sm" th:href="@{/login}">Add to Cart</a>-->
<!--                    </a>-->
                    <a sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-primary btn-sm" th:href="@{/user/cart}" th:text="#{userHomePage.table.button.addToCart}">Add to Cart</a>
                    </a>
                    <!--                    <a sec:authorize="hasAuthority('USER')">-->
                    <!--                        <a class="btn btn-primary btn-sm" th:href="@{'/user/cart/addproduct/{productId}'(productId=${product.id})}"-->
                    <!--                        th:if="${product.quantity}>0">-->
                    <!--                            <button type="button" class="btn btn-primary btn-sm" th:text="Add to Cart">Add to Cart</button>-->
                    <!--                        </a>-->
                    <!--                    </a>-->
                    <a th:href="@{'/user/cart/addproduct/{productId}'(productId=${product.id})}" class="col-md-1"
                       sec:authorize="hasAuthority('USER')" th:if="${product.quantity}>0">
                        <button type="button" class="btn btn-primary btn-sm" onclick="alert('Added to Cart')" th:text="#{userHomePage.table.button.addToCart}">Add to Cart</button>
                    </a>

<!--                    <a sec:authorize="hasAuthority('USER')" th:if="${cartProducts.contains(product.id)}">-->
<!--                        <button type="button" class="btn btn-primary btn-sm" th:text="Added">Added</button>-->
<!--                    </a>-->

                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<header th:insert="_blocks/footer :: footer"></header>


</body>
</html>