<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User Authentication</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--</head>-->

<!--<body>-->

<!--<header th:insert="_blocks/header :: header"></header>-->

<!--<form role="form" th:action="@{/login}" th:method="post">-->
<!--    <lable>Username</lable>-->
<!--    <input type="text" id="username" name="username">-->

<!--    <lable>Password</lable>-->
<!--    <input type="password" id="password" name="password">-->

<!--    <input type="submit">-->
<!--</form>-->

<!--<body/>-->


<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center {
            width: 400px; /* Ширина элемента в пикселах */
            padding: top 20px;/*20px; /* Поля вокруг текста */
            margin: auto; /* Выравниваем по центру */
             /* Цвет фона */
        }
    </style>
</head>
<body>

<header th:insert="_blocks/header :: header"></header>


<div class="center">

    <div class="center" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/login}" method="post">
                <fieldset class="center">
                    <h1 align="center" th:text="#{loginPage.title}">Please Sign In</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            <p th:text="#{loginPage.error.massage}"></p>
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="Email" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               th:placeholder="#{loginPage.label.password}" required="true"/>
                    </div>

                    <div class="center">
                        <div> <!--class="col-xs-6 col-sm-6 col-md-6"-->
                            <input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{loginPage.button.submit}"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>

                    <div style="margin-top: 16px">
                        <p><a class="btn btn-danger btn-lg btn-block" href="/registration" role="button" th:text="#{loginPage.button.register}">Register</a></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<header th:insert="_blocks/footer :: footer"></header>

</body>
</html>